*{
    margin: 0px;
    
}

body {
  margin:0px;
  padding: 0px;
}

header {
  background: linear-gradient(to bottom, rgb(128, 0, 0), rgb(75, 0, 65));
  text-align: center;
  text-decoration: bold;
  color:#ffffff;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 5px;


  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #7aafb6;

  border-radius: 40px 40px  40px 40px;
  border-top-style:solid; 
  margin-top: 3px;
  
  border-top-width: 5px;
  border-top-color: #000000;

} 
h1 {
    font-size: 35pt;
    font-family: Tahoma, Georgia, "Times New Roman", Times, Serif;
    text-align: center;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #050505;
    margin: auto;
  }
  


#menu {  
    text-align: center;
    font-size: 0.9em;
    /*esta es la anchura del menu para que salgan en una linea**/
    width: 1100px;
    margin: 2px auto;
    
    
    }
    
    #menu ul { 
    list-style-type: none;
    }
    /**acomoda los cuadro del menu**/
    #menu ul li.nivel1 { float: left;
    width: 90px;
    margin-right: 0px;
    }
    
    #menu ul li a {display: block;
    text-decoration: none;
    color: #fff;
    background-color: #e60606;
    border: solid 1px rgb(25, 99, 3);
    padding: 8px;
    position: relative;
    font-weight: bold;
    z-index: 1;
    }
    
    #menu ul li:hover {position: relative;}
    
    #menu ul li a:hover, #menu ul li:hover a.nivel1
    {
    color: #000;
    
    }
    
    #menu ul li a.nivel1 {display: block!important;display: none;
    position: relative;
    }
    
    #menu ul li ul {display: none;
    }
    /*alineacion del submenu**/
    #menu ul li a:hover ul, #menu ul li:hover ul {display: block;
    position: absolute;left: -40px;
    }
    
    #menu ul li ul li a {width: 158px;
    padding: 4px 0px 8px 0px;
    border-top-color: #000;
    }
    #menu ul li ul li a:hover {border-top-color: #000;
    position: relative;
    }

  /* Contacto */

  h1.title{ 
    font-family:Tahoma, cursive; 
    padding:0px; 
    text-shadow: black 2px 2px 2px;
    color: #2ccbe0;
  }
  
  .logo img{
    width: 100px;
    height: 100px;
  }
  
  
  body{ 
    background-image: url("../images/bg.png")
  }
  
  img{
    border: 0px;
  }
  
  .contenedor{
    position: absolute;
    top: 60%;
    transform: translateY(-40%);
    width: 100%;
    padding: 0 20px;
   
    
  }
  
  .contacto-form{
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(8, 8, 8, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(73, 2, 49, 0.3);
    
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .mensaje{
    width: 48%;
  }
  
  .input-fields .input,
  .mensaje textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
  
  .mensaje textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    
    color: #c5ecfd;
  }
  :-ms-input-placeholder {
    
    color: #c5ecfd;
  }
  
  .boton {
      background: linear-gradient(to bottom, rgb(128, 0, 0), rgb(75, 0, 65));
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
  }
  section
{
    width: 70%;
    background: #8847dda4;
    float: left;
   
    color:#050505;
      /*el primero arriba el ultimo mueve hacia la derecha  */
  margin: 20px auto auto 30px;
    
}

section h1{
    text-align:center;
    padding: 0.3em;
    color:rgb(13, 14, 13);
    font-size: 1.5em;
}
section h2{
    text-align:center;
    padding: 0.5em;
    color:#0000da;
    font-size: 1.5em;
}
section h3{
    text-align:left;
    padding: 0.3em;
    color:#131413;
    font-size: 1em;
}

article{
    margin: 0.8em 0.6em;
    padding: 0.8em 0.6em;
    background-color: rgb(61, 201, 96);
    border: 3px double black;


}
article p{
    text-align:justifity;
    font-size: 0.9em;
}
aside{
    width: 22%;
    float: left;
    background-color: rgba(197, 10, 10, 0.918);
      /*el primero arriba el ultimo mueve hacia la derecha  */
  margin: 20px auto auto 60px;
}

#anuncio{
    margin: 20px;
    padding: 10px;
    border: 2px solid blue;
    background-color:#5e22ac;
}
#anuncio h1{
    text-align: center;
    font-size: 1.1em;
}
#anuncio h2{
    text-align: center;
    font-size: 1.1em;
}
#anuncio p{
    text-align: justify;
    font-size:10px;

}
footer{
    clear:both;
    background-color: #ccffff;
    border: 3px solid blue;

}
footer p{
    text-align:center;
    font-size: 0.8em;
    color:#000000;
    padding: 30px;
}


  